.messenger-page {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
  height: 100vh;

  &__sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 290px;
    background: $bg-secondary;

    &:first-child {
      border-right: 1px solid $border-color;
    }

    &:last-child {
      border-left: 1px solid $border-color;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@include compact() {
  .messenger-page__sidebar:first-child {
    width: 100%;
  }
}

// Dialogs list item

.dialogs-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;

  > * {
    padding: 5px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 211px;

    > * {
      padding: 5px;
    }

    > :first-child {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      > :first-child {
        font-weight: bold;
        color: $text-primary;
      }
    }

    > :last-child {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

@include compact() {
  .dialogs-list-item__text {
    max-width: 100%;
  }
}

// Messages list item

.messages-list-item-wrapper {
  display: flex;
  width: 100%;

  &.to-me-message {
    justify-content: flex-start;

    > .messages-list-item {
      background: $to-me-message-background;
    }
  }

  &.from-me-message {
    justify-content: flex-end;

    > .messages-list-item {
      background: $from-me-message-background;
    }
  }
}

.messages-list-item {
  display: flex;
  flex-direction: column;
  min-width: 70px;
  max-width: 60%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;

  &__image {
    max-width: 200px;
    padding: 5px;
    cursor: pointer;
  }

  &__text {
    padding: 5px;
    white-space: pre-line;
  }

  &__info {
    display: flex;
    justify-content: end;
    font-size: 10px;
  }
}

.messages-list-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  > span {
    margin: 10px;
    padding: 10px;
    background: $divider-color;
    border-radius: 10px;
  }
}

.modal-image {
  max-width: 100vw;
  max-height: 100vh;
}

// User info

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 15px;

  &__info {
    display: flex;
    flex-direction: column;

    span {
      margin: 2px 20px;

      &:first-child {
        font-size: 24px;
        font-weight: bold;
        color: $text-primary;
      }

      &:last-child {
        font-size: 14px;
      }
    }
  }
}

// New message form

.new-message-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  min-height: 60px;
  padding: 5px 15px;
  background: $bg-secondary;

  &__controls {
    display: flex;
    flex-direction: row;
    align-items: center;

    > * {
      margin: 0 5px;
    }
  }

  &__textarea {
    resize: none;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    height: 25px;
    padding: 5px 15px;
    background: $bg-secondary;
    border: 0;
    color: $text-secondary;

    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

// Send image modal

.send-image-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;

  > * {
    margin: 10px;
  }

  &__image {
    max-width: 250px;
  }

  &__textarea {
    resize: none;
    outline: none;
    width: -webkit-fill-available;
    min-height: 35px;
    padding: 15px !important;
  }
}
