$bg-primary:                    var(--gray-4);
$bg-secondary:                  var(--gray-3);

$text-primary:                  var(--gray-0);
$text-secondary:                var(--gray-1);
$text-selected:                 var(--purple);
$text-danger:                   var(--red);
$text-success:                  var(--green);

$scrollbar-thumb-color:         var(--gray-2);

$mobile-breakpoint:             850px;
