$bg-primary:                    var(--gray-4);
$bg-secondary:                  var(--gray-3);

$text-primary:                  var(--gray-0);
$text-secondary:                var(--gray-1);
$text-selected:                 var(--purple);
$text-danger:                   var(--red);
$text-success:                  var(--green);

$scrollbar-thumb-color:         var(--gray-2);

$border-color:                  var(--gray-4);

$divider-color:                 var(--gray-2);

$notification-info:             var(--gray-1);
$notification-success:          var(--green);
$notification-error:            var(--red);

$button-backgroud:              var(--gray-3);
$button-hover-backgroud:        var(--purple);

$icon-button-color:             var(--gray-1);
$icon-button-hover-color:       var(--gray-0);
$icon-button-selected-color:    var(--purple);

$floating-button-backgroud:     var(--purple);

$input-backgroud:               var(--gray-2);
$input-hover-border:            var(--gray-1);
$input-focus-border:            var(--purple);

$toggle-color:                  var(--gray-1);
$toggle-checked-color:          var(--purple);

$list-item-background:          var(--gray-3);
$list-item-hover-background:    var(--gray-2);
$list-item-selected-background: var(--purple);

$from-me-message-background:    var(--purple);
$to-me-message-background:      var(--gray-3);

$avatar-background:             var(--gray-4);

$compact-breakpoint:            1200px;
